/* General Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  /* Handle on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Light Mode */
  .light-mode::-webkit-scrollbar-thumb {
    background-color: #b2b2b2;
  }
  
  .light-mode::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
  
  /* Dark Mode */
  .dark-mode::-webkit-scrollbar-thumb {
    background-color: #555;
  }
  
  .dark-mode::-webkit-scrollbar-thumb:hover {
    background-color: #333;
  }
  
  /* Smooth Scroll */
  html {
    scroll-behavior: smooth;
  }
  